/* Styles which are common in most of the pages will be here */

body {
  overflow-x: hidden;
}

/* Set of keryframes which will be used */
@keyframes moveInTop {
  0% {
    top: -30px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 0px;
    display: block;
  }
}

@keyframes moveInRight {
  0% {
    right: -100px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}


@keyframes moveInLeft {
  0% {
    left: -100px;
    opacity: 0;
  }

  80% {
    left: 20px;
    opacity: .7;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes moveInBottom {
  0% {
    bottom: -20px;
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 1;
  }
}

/* Styling of Buttons which will be applied on all buttons */

.mybtn {
  cursor: pointer;
  width: 180px !important;
  height: 40px !important;
  color: rgb(22, 34, 49);
  font-size: 16px;
  text-align:center;
  border: 2px solid rgb(22, 34, 49) !important;
  background-color: transparent;
  overflow: hidden;
  z-index: 10;
  position: relative;
  font-weight: bolder;
}

.mybtn div {
  width: 40px !important;
  padding: 0 !important;
  height: 100px;
  border: 2px solid rgb(22, 34, 49);
  background-color:rgb(22, 34, 49);
  position: absolute;
  transform: rotateZ(40deg);
  top: -30px;
  left: -110px;
  z-index: -1;
}

button:focus {
  background-color: white !important;
}

.mybtn > * {
  font-family: Cambria;
}

.mybtn:hover div{
  animation: lefttoright .9s cubic-bezier(0,.48,1,-0.1) forwards;
}

@keyframes lefttoright {
  from {
    left: -70px;
    display: block;
  }

  to {
    left: 230px;
  }
}
/* Imported global font from google fonts */
@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway');
* {
    font-family: Cambria;
}

a {
  font-family: Cambria;
}

.g-container {
  max-width: 960px;
  margin: 0 auto;
  display: block;
}

.sharing-container {
  padding: 20px 0px;
  background: rgb(22, 34, 49)
}

.facebook, .facebook:hover {
  background-color: #3B5998 !important;
  color: white;
}

.google, .google:hover {
  background-color: #DB4437 !important;
  color: white;
}

.twitter, .twitter:hover {
  background-color: #1DA1F2 !important;
  color: white;
}

.linkedin, .linkedin:hover {
  background-color: #0077b5 !important;
  color: white;
}

.whatsapp, .whatsapp:hover {
  background-color: #25D366 !important;
  color: white
}

.facebook > i,
.google > i,
.twitter > i,
.linkedin > i,
.whatsapp > i{
  font-size: 15px !important;
}

/*
  *******
  *******
  PC Styles
  *******
  *******
*/

/* Styles for main navigation */

#large-screen-nav {
  display: none;
}

.main-nav {
  background-color: rgb(22, 34, 49);
  padding: 0 10px;
  width: 100%;
  transition: .5s all;
}

.main-nav a.logo {
  margin: 0 10px;
  float:left
}

.main-nav a.logo:after {
  content: "";
  clear: both;
  display: block;
}

.main-nav a.logo img {
  width: 80%;
  position: relative;
  top: 10px;
}

.main-nav a.menu {
  margin: 0 10px;
  float: right;
}

.main-nav a.menu:after {
  content: "";
  clear: both;
  display: block;
}

.dropdown-content {
   overflow-y: visible;
}

#aboutus-dropdown, #services-dropdown, #taxation-dropdown {
  width: 300px;
}
#aboutus-dropdown, #services-dropdown {
  background-color: rgb(22, 34, 49);
}

#aboutus-dropdown a, #services-dropdown a {
  color: white;
}

#aboutus-dropdown li:hover a, #services-dropdown li:hover a {
  background-color: white !important;
  color: rgb(22, 34, 49);
}

#taxation-dropdown {
  left: 300px;
}

#taxation-dropdown li a:hover, #taxation-dropdown li a {
  background-color: white;
  color: rgb(22, 34, 49);
}

/* Style for sidebar triggering button */
#small-screen-nav {
  display: none;
}

/* ****** Styles for contact navbar *******  */

nav.contact-nav {
  background-color: rgb(33, 33, 33, .6);
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  min-height: 60px;
  /* z-index: -1; */
}

.contact-nav a {
  margin: 20px;
  top: -4px;
  position: relative;
  font-family: Raleway;
}

.contact-nav .social-links {
  float: right;
  top: -20px;
  position: relative;
}

.contact-nav .social-links:after {
  clear: both;
  display: block;
  content: "";
}

.contact-nav a i {
  font-size: 17px;
  padding: 0 8px 0 0;
}

.contact-nav .slash {
  font-size: 25px;
  position: relative;
  font-weight: lighter;
  top: -2px;
  display: inline-block;
  transform: skewX(-20deg);
}

/* Styles for footer section */
.footer {
  background-color: rgb(22, 34, 49);
  padding: 10px 0;
  top: 50px;
  position: relative;
  width: 100%;
  position: relative;
  min-height: 60vh;
}

.footer:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: inherit;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
  transform: skewY(-5deg);
  z-index: -1;
}

.footer .links-grid {
  display: grid;
  padding: 0 30px;
  grid-template-columns: repeat(4, 3fr);
  grid-gap: 20px;
}

.footer .links-grid div h5 {
  bottom: 40px;
}

.footer .links-grid div ul li {
  margin: 7px 0;
}

.footer .links-grid div ul li a {
  color: white;
  font-size: 15px;
}

.footer .links-grid div > * {
  color: white;
}

.footer-grid-second {
  display: grid;
  padding: 0 30px;
  grid-template-columns: 6fr 6fr;
}

.footer-grid-second .copyright-box p.copyright {
  font-size: 15px;
  color: white;
}

.footer-grid-second .followus-box a.footer-social-links {
  margin: 0 10px;
  font-size: 23px;
  float: right;
  color: white;
  top: 13px;
  position: relative;
}

.footer-grid-second .followus-box a.footer-social-links:after {
  clear: both;
  content: "";
  display: block;
}









/*
  ******
  ******
  Tablet Styles
  *****
  *****
*/

/* Styles for main nav */
@media screen and (max-width: 760px) {
  #large-screen-nav {
    display: none;
  }
  /* Style for sidenav triggering nav */
  #small-screen-nav {
    display: block;
  }

  .sidenav-triggering-nav {
    background-color: rgb(22, 34, 49);
    padding: 2px 10px;
    box-sizing: border-box;
  }

  .sidenav-triggering-nav .sidenav-social-links {
    float: right;
    margin: 0px 10px;
  }

  .sidenav-triggering-nav .sidenav-social-links:after {
    clear: both;
    display: block;
    content: "";
  }

  .sidenav {
    background-color: rgb(22, 34, 49);
  }

  .sidenav li a {
    color: white;
    font-size: 20px;
  }

  .sidenav a:hover {
    background-color: white !important;
    color: rgb(22, 34, 49) !important;
  }

  .sidenav .user-view {
    height: 60px;
  }

  .sidenav .background {
    background-color: rgb(22, 34, 49);
  }

  .sidenav .background img {
    width: 90%;
    top: 10px;
    position: relative;
    display: block;
    margin: auto;
  }

  .sidenav #dropdown-aboutus, .sidenav #dropdown-services, #dropdown-services #dropdown-taxation {
    background-color: white;
    display: none;
    color: rgb(22, 34, 49);
    animation: dropdownAnimation .3s;
  }

  @keyframes dropdownAnimation {
    from {
      top:-10px;
      opacity: 0;
    } to {
      top: 0;
      opacity: 1;
    }
  }

  .sidenav #dropdown-aboutus li a, .sidenav #dropdown-services li a, #dropdown-services #dropdown-taxation li a{
    color: rgb(22, 34, 49) !important;
    font-size: 16px;
    padding: 0;
  }

  #dropdown-aboutus ul, #dropdown-services ul {
    margin-left: 50px;
  }

  #dropdown-services #dropdown-taxation ul {
    margin-left: 20px;
  }

  /* ***** Styles for Contact Navbar ****** */
  nav.contact-nav {
    display: none;
  }


  /* Styles for footer section */
  .footer .links-grid {
    grid-template-columns: 6fr 6fr;
  }

  .footer .links-grid div {
    margin: 0 auto;
    text-align: center;
  }
}














/*
  ******
  ******
  Mobile Styles
  *****
  *****
*/

/* Styles for main nav */
@media screen and (max-width: 480px) {
  nav.main-nav {
    display: none;
  }

  /* ***** Styles for Contact Navbar ****** */
  nav.contact-nav {
    display: none;
  }

  /* Styles for footer section */
  .footer .links-grid {
    grid-template-columns: 12fr;
  }

  .footer .links-grid div {
    margin: 0px;
    text-align: left;
  }

  .footer .footer-grid-second {
    border-top: 1px solid white;
    grid-template-columns: 12fr;
  }

  .footer .footer-grid-second .copyright-box p.copyright {
    text-align: center;
  }

  .footer .footer-grid-second .followus-box a {
    top: 0;
    display: inline-block;
    float: left;
    width: 33.33%;
    margin: 0;
    text-align: center;
  }
}
